.cart_container {
    margin-top: 120px;
}

.cart_table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cat_title {
    width: 80vw;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.list_item {
    background-color: #f0f1f4;
}

.list_total {
    background-color: #4d79ff;
    color: white;
}

td {
    text-align: center;
}

.checkout {
    width: 80vw;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

[class^="fontawesome-trash"], .checkout_button {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
    background-color: #f0f1f4;
}

[class^="fontawesome-trash"]:active {
    color: red;
}

@media (hover: hover) {
    [class^="fontawesome-trash"]:hover {
        color: red;
    }
}