.over {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    overflow-y: auto;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
    opacity: 1;
    transition: opacity .3s;
}

.over::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.modal {
    font-size: 20px;
    width: 80%;
    position: absolute;
    top: 30%;
    left: calc(calc(100vw - 80% - 20px)/2);
    padding: 10px;
    opacity: 1;
    animation: showSweetAlert .3s;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

@keyframes showSweetAlert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    1% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.greetings {
    display: block;
    padding: 20px 0px;
}

.ok {
    width: 60px;
    padding: 10px;
    grid-row: 4;
    margin: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: red;
}

.noscroll {
    overflow: hidden;
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.swal-icon--success__line--long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: animateSuccessLong .75s;
    animation: animateSuccessLong .75s;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.swal-icon--success__line--tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: animateSuccessTip .75s;
    animation: animateSuccessTip .75s;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid hsla(98,55%,69%,.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.swal-icon--success__hide-corners {
    width: 5px;
    height: 90px;
    background-color: #fff;
    padding: 1px;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.swal-icon {
    width: 80px;
    height: 80px;
    /*grid-column: 6/span 2;*/
    margin: 10px auto;
    border: none;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.swal-icon--error {
    border: 4px solid;
    border-radius: 50%;
    border-color: red;
    -webkit-animation: animateErrorIcon .5s;
    animation: animateErrorIcon .5s;
}

@keyframes animateErrorIcon {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.swal-icon--error__x-mark {
    position: relative;
    display: block;
    -webkit-animation: animateXMark .5s;
    animation: animateXMark .5s;
}

@keyframes animateXMark {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        margin-top: -6px;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}

.swal-icon--error__line--left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 17px;
}

.swal-icon--error__line--right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px;
}

.swal-icon--error__line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: red;
    display: block;
    top: 37px;
    border-radius: 2px;
}

.swal-icon--success {
    border-color: #a5dc86;
}

.swal-icon--info {
    border: 4px solid;
    border-radius: 50%;
    border-color: #c9dae1;
}

.swal-icon--info:after, .swal-icon--info:before {
    content: "";
    position: absolute;
    left: 50%;
    background-color: #c9dae1;
}

.swal-icon--info:before {
    width: 5px;
    height: 29px;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
}

.swal-icon--info:after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
}
